@import "../../../styles/variables";
@import "../../../styles/common/row";

.rank-number-line {
  width: 60px;
  margin-right: 5px;
}

.position-symbol-line {
  width: 25px;
  margin-right: 5px;
}

.country-name-line {
  flex: 1;
  padding-left: 10px;
}

.category-line {
  height: 4px;
  border-radius: 4px;
}

.on {
  background-color: $p1;
  animation-duration: 300ms;
  animation-name: animation-active;
  animation-timing-function: ease;
}